.navbar-brand{

    color: #fff;
}

.nav-link {
   
    color: #fff;
    font-size: 24px;
    font-weight: "400";
}

.nav-link:hover{

     color: blue;
    ;
}

.navbar-toggler{

      background-color: #fff;
}

.logo{

     width: 300px;
     height: 150px;
     margin-left:-70px;
}


@media only screen and (max-width: 600px) {
  .logo{

     width: 150px;
     height: 110px;
     margin-left: 0px;
  }
  }