.card3{
      
    height: 750px;
    background-image: url('../../../../Componets/Assests/forthbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius:0px;
    overflow: hidden;
}


.crd1{

      margin-left: -280px;
      background-color: white;
      
}

.crd2{

      margin-left: 380px;
}



.img3{

      width: 700px;
      height: 600px;

}

.pra{

     font-size: 18px;
     font-weight: 700;
     justify-content: center;
     text-align:left;
     margin-top: 10px;
}

.main5{

    margin-top: -230px
 }


 
.tile33{
    
    font-size: 85px;
    color:"black";
    font-weight:600;
    margin-top: -0px;
    margin-right: 300px;
}



.tile3{
    
    font-size: 75px;
    color:rgb(215, 90, 140);
    font-weight:700;
   
}
.btn1{

     margin-right: 430px;
}


@media only screen and (max-width: 600px) {

    .card3{

          height: auto;
    }
    .crd2{

         margin-right: 0px;
    }
    .crd2{
         margin-left: 0px;
    }


    .img3{

        width: 300px;
        height: 300px;
    }


    .pra{
      
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            margin-top: 10px;
            width: 350px;
            margin-left: 200px;
    
   }
   .main5{

      margin-top: 10px;
   }

   .card3{

      overflow-wrap: normal;
   }
   .tile33{
    
    font-size: 65px;
    color:"black";
    font-weight:600;
    margin-top: 80px;
    margin-left: 200px;
}



.tile3{
    
    font-size: 75px;
    color:rgb(215, 90, 140);
    font-weight:700;
    margin-left: 200px;
   
}

  }