.tile34{
    
    font-size: 50px;
    color:"black";
    font-weight:700;
    margin-top: 220px;
    margin-left: 80px;
    
}



.tile32{
    
    font-size: 40px;
    color:rgb(215, 90, 140);
    font-weight:700;
    margin-left: 80px;
   
}


.pra2{

    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    text-align:left;
    margin-top: 10px;
    margin-left: 80px;
}

.btn23{

     margin-left: 80px;
}




.img6 {
    width: 100%;
    height: 100%;
}



.cnt2{

    margin-right: -100px;
}


@media only screen and (max-width: 600px) {

  .tile34{
    
    font-size: 40px;
    color:"black";
    font-weight:700;
    margin-top: -100px;
    margin-left: 90px;
}



.tile32{
    
    font-size: 30px;
    color:rgb(215, 90, 140);
    font-weight:700;
    margin-left: 90px;
   
}
.btn23{

  margin-left: 80px;
}




.img6 {
 width: 80%;
 height: 80%;
 margin-left: 30px;
}



.cnt2{

 margin-right: -90px;
}

.pra2{

  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  /* text-align:left; */
  margin-top: 10px;
  margin-left: 90px;
  width: 350px;
}




}