.img9{

     width: 500px;
     height: 650px;
}




.crd3{

    margin-left: -80px;
    background-color: white;
    
}


.main5{

    margin-top: -70px
 }

 .pra22{

      width: 500px;
      font-size: 24px;
 }

 .tile30{

       font-size: 48px;
       font-weight: 700;
 }

 @media only screen and (max-width: 600px) {

     .img9{

          width: 300px;
          height: 350px;
          margin: auto;
     }
     .crd3{

          margin-left: -80px;
          background-color: white;
          
      }
      
      
      .main5{
      
          margin-top: 0px;
          margin-left: 100px;
       }
      
       .pra22{
      
            width: 350px;
            font-size: 20px;
            text-align: justify;
       }

       .tile30{

            font-size: 28px;
       }

     
     
     
 }