.card7{
      
    height: 700px;
    background-image: url('../../../../Componets/Assests/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius:0px;
    overflow-x: hidden;
  
}


@media only screen and (max-width: 600px) {

    .card7{

         display: none;
    }
}