.footer{

    width:"100%"; 
    height:"700";
    overflow-x: hidden;
    
}
.bg{
    width: "100%";
     background-image: url(../Assests/footer.png);
     background-repeat: no-repeat;
     background-size: cover;
}

.text{

      margin-left: 10px;
}


.footerlogo{
    
     background-color:#000;
}


p{

    font-weight: 600;
}


.mb-2{

     font-weight: 700;
}

.text-uppercase {


     font-weight: 700;
}


@media only screen and (max-width: 600px) {

       .footerlogo{

             margin-right: -50px;
       }
}